
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@*<a href="/Kupac/Prikazi">Prikaži kupce</a>*@

<a asp-controller="Kupac" asp-action="Prikazi">Prikaži kupce</a>
<br />
<a asp-controller="Proizvod" asp-action="Prikazi">Prikaži proizvode</a>
<br />
<a asp-controller="Faktura" asp-action="Prikazi">Prikaži fakturu</a>
